body {
    margin: 0;
    font-family: "Montserrat";
}

section#welcome {
    width: 100%;
    background-color: rgb(0, 159, 227);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section#welcome #logo {
    width: 25%;
}

section#welcome .container-box {
    display: none;
}

section#welcome .container-box .container {
    background-color: rgb(255, 255, 255);
    width: 312px;
    height: 260px;
    border-radius: 15px;
    margin-top: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

section#welcome .container-box .container h2 {
    font-size: 20px;
    color: rgb(0, 159, 227);
    width: 170px;
}

section#welcome .container-box .container input {
    border: 2px solid rgb(0, 159, 227);
    border-radius: 5px;
    width: 250px;
    height: 30px;
    outline: none;
    text-align: center;
    color: rgb(149, 152, 154);
    font-size: 16px;
}

section#welcome .container-box .container input::-webkit-input-placeholder {
    text-align: center;
    color: rgb(149, 152, 154);
    font-size: 16px;
}

section#welcome .container-box .container button {
    background-color: rgb(0, 159, 227);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 254px;
    height: 34px;
    border: none;
    font-size: 16px;
}

@-webkit-keyframes rotateLoadPage {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.loadPage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: rotateLoadPage 1s infinite;
}

.loadPage .loadPageRocket {
    background-image: url(../img/g-03.svg);
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

.button-fb-connect {
    width: 250px;
    height: 40px;
    background-color: rgb(73, 102, 174);
    border: 2px solid rgb(73, 102, 174);
    border-radius: 5px;
    text-align: center;
    color: white;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

i.span-fb-connect {
    width: 40px;
    height: 40px;
    background-image: url(../img/fb-.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10.39px 20px;
}

i:last-child {
    height: 20px;
    border: 1px solid white;
}

.bt-fb-connect {
    width: 100%;
    text-align: center;
}

/* section messenger */
section#messenger {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
}

section#messenger header#nav {
    width: 25%;
    background-color: #E3E3E3;
    display: inline-flex;
    flex-direction: column;
    border-right: 1px solid #95989A;
}
section#messenger header nav.header {
    display: inline-flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

section#messenger header nav.header #menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

section#messenger header nav.header #line {
    width: 30px;
    height: 3px;
    background-color: black;
    position: relative;
    margin: 0px 20px;
}

section#messenger header nav.header #line::before {
    width: 30px;
    height: 3px;
    background-color: black;
    content: '';
    position: absolute;
    top: -8px;
}

section#messenger header nav.header #line::after {
    width: 30px;
    height: 3px;
    background-color: black;
    content: '';
    position: absolute;
    bottom: -8px;
}

section#messenger header nav.header #closeHeader {
    background-image: url('../img/picto/ic_keyboard_return_black_24px.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    margin: 0px 20px;
    cursor: pointer;
}

section#messenger header nav.profil {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

section#messenger header nav.profil .profil {
    display: inline-flex;
    flex-direction: row;
    height: 65px;
    margin: 0px 0px 10px 10px;
}

section#messenger header nav.profil .profil img.picture {
    background-image: url(../img/tete/IMG_5194.jpg);
    width: 65px;
    height: 65px;
    background-size: 65px 65px;
    border-radius: 50%;
    margin-right: 15px;
}

section#messenger header nav.profil .profil .user {
    width: 100%;
    display: flex;
    height: 100%;
    background-color: white;
    justify-content: space-between;
}

section#messenger header nav.profil .profil .user .username {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    
}

section#messenger header nav.profil .profil .user .username .name {
    font-size: 15px;
}

section#messenger header nav.profil .profil .user .username .pseudo {
    color: #656565;
    font-size: 12px;
}

section#messenger header nav.profil .profil .user .connect {
    background-color: green;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    content: ' ';
}

section#messenger header#logo {
    height: 50px;
    border-bottom: 1px solid #95989A;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}

main header#logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    align-items: center;
}

main header#logo #logo {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

main header#logo #header_logo {
    width: 118.08px;
    height: 45px;
}

main article#chat {
    display: flex;
    justify-content: flex-end;
    height: 50px;
}
main article:last-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #95989A;
}

main article #input {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

main article input {
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    display: inline-flex;
    flex-direction: row;
    padding-left: 50px;
    height: 100%;
    width: 100%;
}

/*
main article input::-webkit-input-placeholder {
    padding-left: 50px;
}

main article input::-moz-placeholder {
    padding-left: 50px;
}

main article input:-ms-input-placeholder {
    padding-left: 50px;
}

main article input:-moz-placeholder {
    padding-left: 50px;
}
*/

main article #input button {
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    height: 100%;
    background-color: white;
    border-left: 1px solid #95989A;
}

main .spritegg {
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    display: inline-flex;
    flex-direction: row;
    border-left: 1px solid #95989A;
}

main article #input .spritegg.gif {
    background-image: url(../img/picto/ic_gif_black_24px.svg);
}

main article #input .spritegg.give {
    background-image: url(../img/picto/ic_send_black_24px.svg);
}

main article #input .spritegg.emoji {
    background-image: url(../img/picto/ic_insert_emoticon_black_24px.svg);
}

main article #input .spritegg.picture {
    background-image: url(../img/picto/ic_crop_original_black_24px.svg);
}

main article #input .spritegg.localiz {
    background-image: url(../img/picto/ic_place_black_24px.svg);
}

main header#logo .spritegg.infos {
    background-image: url(../img/picto/ic_info_outline_black_24px.svg);
}

main header#logo #infos {
    border-left: none;
}

article#mess {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

li {
    width: 540px;
    margin: 20px;
}
li .name {
    font-size: 15px;
    margin-left: 15px;
    margin-bottom: 5px;
}

li .bulle {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    color: white;
}

li .bulle.blue {
    background-color: #2590F5;
}

li .bulle.red {
    background-color: #DB5149;
}

li .bulle.green {
    background-color: #24A061;
}

li .bulle.grey {
    background-color: #E5E5EA;
}

li .bulle .picture {
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

li .bulle .message {
    text-align: left;
    width: 100%;
}
li.other {
    flex-direction: column;
    justify-content: flex-start;
}
li.me {
    flex-direction: column;
    justify-content: flex-end;
}