body {
    margin: 0;
    font-family: "Montserrat";
    overflow: hidden;
}

section#welcome {
    width: 100%;
    background-color: rgb(0, 159, 227);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section#welcome #logo {
    width: 25%;
}

section#welcome .container {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 15px;
    margin-top: 75px;
}
/* section messenger */
section#messenger {
    position: relative;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
}

section#messenger header#nav {
    width: 25%;
    background-color: #E3E3E3;
    display: inline-flex;
    flex-direction: column;
    border-right: 1px solid #95989A;
}

section#messenger header nav.header {
    display: inline-flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

section#messenger header nav.header #menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

section#messenger header nav.header #line {
    width: 30px;
    height: 3px;
    background-color: black;
    position: relative;
    margin: 0px 20px;
}

section#messenger header nav.header #line::before {
    width: 30px;
    height: 3px;
    background-color: black;
    content: '';
    position: absolute;
    top: -8px;
}

section#messenger header nav.header #line::after {
    width: 30px;
    height: 3px;
    background-color: black;
    content: '';
    position: absolute;
    bottom: -8px;
}

section#messenger header nav.header #closeHeader {
    background-image: url('../img/picto/ic_keyboard_return_black_24px.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

section#messenger header nav .profil {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

section#messenger header nav .profil .profil {
    display: inline-flex;
    flex-direction: row;
    height: 65px;
    margin: 0px 0px 10px 10px;
}

section#messenger header nav div#allprofil {
    width: 100%;
}

section#messenger header nav .profil .profil img.picture {
    width: 65px;
    height: 65px;
    background-size: 65px 65px;
    border-radius: 50%;
    margin-right: 15px;
}

section#messenger header nav .profil .profil .user {
    width: calc(100% - 90px);
    display: flex;
    height: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

section#messenger header nav .profil .profil .user .username {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    
}

section#messenger header nav .profil .profil .user .username .name {
    font-size: 15px;
}

section#messenger header nav .profil .profil .user .username .pseudo {
    color: #656565;
    font-size: 12px;
}

section#messenger header nav .profil .profil .user .connect {
    background-color: green;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    content: ' ';
}

section#messenger header nav .profil .profil .user .disconnect {
    background-color: grey;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    content: ' ';
}

section#messenger header#logo {
    height: 50px;
    border-bottom: 1px solid #95989A;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}

main header#logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    align-items: center;
}

main header#logo #logo {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

main header#logo #header_logo {
    width: 108.08px;
    height: 35px;
}

main article#chat {
    display: flex;
    justify-content: flex-end;
    height: 50px;
}
main article:last-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #95989A;
}

main article #input {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

main article input {
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    display: inline-flex;
    flex-direction: row;
    padding-left: 50px;
    height: 100%;
    width: 100%;
}

/*
main article input::-webkit-input-placeholder {
    padding-left: 50px;
}

main article input::-moz-placeholder {
    padding-left: 50px;
}

main article input:-ms-input-placeholder {
    padding-left: 50px;
}

main article input:-moz-placeholder {
    padding-left: 50px;
}
*/

main article #input button {
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    height: 100%;
    background-color: white;
    border-left: 1px solid #95989A;
}

main .spritegg {
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    display: inline-flex;
    flex-direction: row;
    border-left: 1px solid #95989A;
}

main article #input .spritegg.gif {
    background-image: url(../img/picto/ic_gif_black_24px.svg);
}

main article #input .spritegg.give {
    background-image: url(../img/picto/ic_send_black_24px.svg);
}

main article #input .spritegg.emoji {
    background-image: url(../img/picto/ic_insert_emoticon_black_24px.svg);
}

main article #input .spritegg.picture {
    background-image: url(../img/picto/ic_crop_original_black_24px.svg);
}

main article #input .spritegg.localiz {
    background-image: url(../img/picto/ic_place_black_24px.svg);
}

main header#logo .spritegg.infos {
    background-image: url(../img/picto/ic_info_outline_black_24px.svg);
}

main header#logo #infos {
    border-left: none;
}

article#mess {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 50px 50px 50px;
}

ul#listmessage {
    overflow-y: scroll;
}
ul#listmessage li {
    width: 640px;
    margin: 20px;
}
ul#listmessage li .name {
    font-size: 15px;
    margin-left: 15px;
    margin-bottom: 5px;
}

ul#listmessage li .bubble {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    color: white;
}

ul#listmessage li .bubble.blue {
    background-color: #2590F5;
}

ul#listmessage li .bubble.red {
    background-color: #DB5149;
}

ul#listmessage li .bubble.green {
    background-color: #24A061;
}

ul#listmessage li .bubble.grey {
    background-color: #E5E5EA;
}

ul#listmessage li .bubble .picture {
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
}

ul#listmessage li .bubble .message {
    text-align: left;
    width: 100%;
    display: block;
}

ul#listmessage li .bubble .time {
    margin-left: 15px;
}

ul#listmessage li.other {
    flex-direction: column;
    justify-content: flex-start;
}

ul#listmessage li.me {
    flex-direction: column;
    justify-content: flex-end;
}

.container-box {
    position: absolute;
    right: 50px;
    bottom: 0;
    width: 400px;
    height: 150px;
    display: inline-block;
}

.container-row {
    border-right: 1px solid #95989A;
    border-left: 1px solid #95989A;
    width: 100%;
    overflow: scroll;
    display: inline-flex;
    flex-direction: row;
}

.container-row img {
    height: 150px;
}

.gif-giphy {
    cursor: pointer;
    justify-content: flex-start;
}

#tiping {
    left: 30;
    bottom: 0;
    width: 400px;
    height: auto;
}

.tiping {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #95989A;
    font-size: 14px;
}

.tiping .bubble {
    width: 7px;
    height: 7px;
    background-position: center;
    background-size: 10%;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.tiping .bubble.blue {
    background-image: url(../img/picto/tiping/ic_mode_comment_black_24px_blue.svg);
}

.tiping .bubble.red {
    background-image: url(../img/picto/tiping/ic_mode_comment_black_24px_red.svg);
}

.tiping .bubble.green {
    background-image: url(../img/picto/tiping/ic_mode_comment_black_24px_green.svg);
}


@media screen and (max-width: 822px){
    ul#listmessage li {
        width: 80%;
        margin-right: 50px;
    }
}